

<section>

<div class="section-top">
  <div class="slides">
    <span class="text">
    </span>
    <span class="left-btn" ng-click="clickLeft()"><i class="fa fa-arrow-circle-o-left"></i></span>
    <img ng-src="./images/{{imagecode}}" alt="">
    <span class="right-btn" ng-click="clickRight()"><i class="fa fa-arrow-circle-o-right"></i></span>
    <span class="floating-btn"><a href=""><b>Buy Now</b></a></span>
  </div>
  <div class="selector" ng-class="{'activate-selector':image1}" ng-click="imagecode='image1.jpg';image1=true;">
    <img src="./images/image1.jpg" alt="">
  </div>
  <div class="selector" ng-class="{'activate-selector':image2}" ng-click="imagecode='image2.jpg';image2=true;">
    <img src="./images/image2.jpg" alt="">
  </div>  
  <div class="selector" ng-class="{'activate-selector':image3}" ng-click="imagecode='image3.jpg';image3=true;">
    <img src="./images/image3.jpg" alt="">
  </div>
</div>

<div class="section-body">
  <div class="item-box">
<label>Ethnic Wear</label>
  <img src="./images/thumb1.jpg">
  <p><b><i class="fa fa-inr"></i> 2220/-</b></p>
</div>
<div class="item-box">
<label>Running Shoes</label>
  <img src="./images/thumb2.jpg">
  <p><b><i class="fa fa-inr"></i> 999/-</b></p>
</div>
<div class="item-box">
<label>Toys</label>
  <img src="./images/thumb3.jpeg">
  <p><b><i class="fa fa-inr"></i> 1220/-</b></p>
</div>
<div class="item-box">
<label>School Bag</label>
  <img src="./images/thumb4.png">
  <p><b><i class="fa fa-inr"></i> 520/-</b></p>
</div>
<div class="item-box">
<label>Smart Tv</label>
  <img src="./images/thumb5.jpg">
  <p><b><i class="fa fa-inr"></i> 39990/-</b></p>
</div>
<div class="item-box">
<label>Cricket Kit</label>
  <img src="./images/thumb6.jpeg">
  <p><b><i class="fa fa-inr"></i> 6890/-</b></p>
</div>
<div class="item-box">
<label>Western Wear</label>
  <img src="./images/thumb7.jpg">
  <p><b><i class="fa fa-inr"></i> 2199/-</b></p>
</div>
<div class="item-box">
<label>Books</label>
  <img src="./images/thumb8.jpg">
  <p><b><i class="fa fa-inr"></i> 199/-</b></p>
</div>
</div>

<div class="section-bottom">
  <div class="item-box-bottom">
    <i class="fa fa-black-tie"></i>
  </div>
  <div class="item-box-bottom">
    <i class="fa fa-windows"></i>
  </div>
  <div class="item-box-bottom">
    <i class="fa fa-apple"></i>
  </div>
  <div class="item-box-bottom">
    <i class="fa fa-linux"></i>
  </div>
  <div class="item-box-bottom">
    <i class="fa fa-modx"></i>
  </div>
  <div class="item-box-bottom">
    <i class="fa fa-yelp"></i>
  </div>
  <div class="item-box-bottom">
    <i class="fa fa-slack"></i>
  </div>
  <div class="item-box-bottom">
    <i class="fa fa-pagelines"></i>
  </div>
</div>
</section>